OPENAI_API_KEY = "Enter your OpenAI API Key here"
HF_TOKEN = "Enter your Hugging Face token here"
SEC_KEY = "Enter your SEC API key here"
ALPACA_API_KEY = "Enter your Alpaca API key here"
ALPACA_API_SECRET_KEY = "Enter your Alpaca API secret key here"
ALPACA_ENDPOINT = "https://paper-api.alpaca.markets/v2"
ALPACA_NEWS_ENDPOINT = "https://data.alpaca.markets/v1beta1/news"
FINMEM_SUMMARY_MODEL="llama3.1-8b" # llama3.1-8b, gpt-oss-120b, qwen-3-235b-a22b-instruct-2507, zai-glm-4.7
VNSTOCK_API_KEY = "Enter your VNStock API key here"